<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="KIKUZOKIKUZO" name="alertfilter" version="1.0.0b2">
    <details>
        <title>Alert filter</title>
        <homepage>https://github.com/Wirecloud/value-filter-operator</homepage>
        <authors>kikuzokikuzo@gmail.com</authors>
        <email>kikuzokikuzo@gmail.com</email>
        <image></image>
        <description>filter values by set threshold.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
        <doc>doc/userguide.md</doc>
        <changelog>doc/changelog.md</changelog>
        <issuetracker></issuetracker>
    </details>
    <requirements>
        <feature name="NGSI"/>
    </requirements>
    <preferences>
    <preference name="prop_name" type="text" label="Property name" description="Name of the property containing the data to be filtered" default="poi.data.location" />
        <preference name="send_nulls" type="boolean" label="Send Nulls" description="Enable this option to propagate null values, leave it disable to filter null events" default="true" />    
        <preference
            name="warning_th"
            type="text"
            label="Waring threshold"
            description="set Warning threshold"
            default="1000" />
        <preference
            name="alert_th"
            type="text"
            label="Alert threshold"
            description="set Alert threshold"
            default="1500" />
    </preferences>
    <wiring>
        <inputendpoint name="inputData" type="text" label="Input Data" description="Input Value" friendcode="poi" />
        <outputendpoint name="normalOutput" type="text" label="Normal Output" description="Non warning, non alerting value" friendcode="json" />
        <outputendpoint name="warningOutput" type="text" label="Warning Output" description="value as warning" friendcode="json"/>
        <outputendpoint name="alertOutput" type="text" label="Alert Output" description="value as alerting" friendcode="json"/>
    </wiring>
    <scripts>
        <script src="lib/js/moment-with-locales.min.js"/>
        <script src="js/main.js"/>
    </scripts>

</operator>
